body {
	background-color: #000;
	color: #fff;
	font-family: 'Courier', monospace;
	font-size: 20px;
	min-height: 100vh;
	position: relative;
	margin: 0;
	padding-bottom: 100px;
}

.footer {
	background-color: #292929;
	display: block;
	min-width: 100vw;
	position: absolute;
	bottom: 0;
}

img {
 	max-width: 100vw;
}

.font-header {
	font-family: 'Consolas', monospace;
}

.font-paragraph {
	font-family: 'Open Sans', sans-serif;
}

.navbar-dark .navbar-brand {
	color: #00ff00;
}

/* Thanks, Rudy Jahchan https://jsfiddle.net/rudyjahchan/u5c4k1xg */
.cursor-text {
    position: relative;
    font-family: 'Courier', monospace;
    background-color: #343a40;
    text-decoration: none;
    color: #00ff00;
}

.cursor {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #343a40;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: .5em solid;
    
    -webkit-animation: typing 1s steps(7, end) 1 normal forwards,
        blinking 1s step-end infinite;
    animation: typing 1s steps(7, end) 1 normal forwards,
        blinking 1s step-end infinite;
}

@-webkit-keyframes typing {
    from,to { width: 100%; }
    25% { width: 0; }
    50% { width: 0; }
    75% { width: 100%; }
}

@keyframes typing {
    from { width: 100%; }
    to { width: 1%; }
}

@-webkit-keyframes blinking {
    from, to { border-color: transparent; }
    50% { border-color: #00ff00; }
}

@keyframes blinking {
    from, to { border-color: transparent; }
    50% { border-color: #00ff00; }
}

.dropdown-item {
	font-size: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Consolas', monospace;
}

@media (max-width: 767px) {
	body {
		font-size: 16px;
	}

	.cursor-text {
	    font-size: 16px;
	}

	.navbar-dark .navbar-brand {
		font-size: 16px;
	}

	#user-name {
		font-size: 72px !important;
		line-height: 42px !important;
	}

	.user-picture {
		height: auto;
		width: 50vw;
		margin: 15%;
		margin-left: 20vw;
		margin-bottom: 5vh;
	}

	.user-description {
		margin: 10%;
		margin-top: 0px;
		margin-bottom: -20px;
	}

	.user-social i {
		margin: 2.5%;
		margin-bottom: 3vh;
		margin-top: 3vh;
	}
}

#user-name {
	font-size: 5em;
	text-transform: uppercase;
}

.user-profile {
	padding: 0;
}

.user-picture {
	border-style: solid;
	border-width: 5px;
	border-color: #fff;
	margin-top: 20px;
}

i {
	margin: 10px 20px 10px 20px;
	color: #fff;
}

.post-link {
	float: left;
}

.post-date {
	float: right;
}

.post-header {
	background-color: #292929;
	overflow: hidden;
	padding: 0 5px 0 5px;
}

.post-content {
	border-top-style: solid;
	margin-top: 5px;
	padding-top: 5px;
}

.post-summary, .post-content{
	clear: both;
}

.post-summary {
	padding: 0 5px 0 5px;
}

.post-list-footer {
	padding-bottom: 5px;
}

#post-list {
	list-style: none;
	padding-left: 0;
}

.post-list-item {
	margin-top: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: #292929;
}

td {
	margin: 0 20px 0 20px;
}

.post-comments {
	padding-top: 10px;
	margin-bottom: 20px;
	border-top-style: solid;
	border-bottom-style: solid;
}

.post-comment {
   padding: 2rem 0rem;
}

.post-comment-header {
   margin-bottom: 20px;
}

.post-comment .comment-message{
  font-size: 1.7rem;
}

.post-comment-avatar {
   display: inline-block;
   vertical-align: middle;
   border-radius: 50%;
}

.post-comment-info {
   display: inline-block;
   margin-left: 20px;
   margin-bottom: 0;
   vertical-align: middle;
}

.post-comment-info .post-comment-name {
   font-size: 2rem;
   font-weight: 500;
}

.comment-submit-btn {
	color: white;
	background-color: #292929;
}

.post-comment-info a {
	text-decoration: none;
	color: white;
}

.post-comment-info a:hover {
	text-decoration: underline;
}