{{ $entryId := .File.UniqueID }}

<section class="post-comments">
    <h3>Comments</h3>

    {{ with $.Site.Data.comments }}
    {{ if isset $.Site.Data.comments $entryId }}
    {{ range $index, $comments := (index $.Site.Data.comments $entryId) }}
    <div class="post-comment" id="{{ ._id }}">
        <div class="post-comment-header">
            <img class="post-comment-avatar" src='https://www.gravatar.com/avatar/{{ md5 .email }}?s=100&d=https%3A%2F%2Fkeanu73.net%2Fgorbachev.png' />
            <p class="post-comment-info">
                From: <span>{{ .name }}</span> 
                {{ with .email }}
                <span>&lt;{{ . }}&gt;</span>
                {{ end }}
                <br />
                <a href="{{ .Permalink }}#{{ ._id }}" title="Permalink to this comment">
                    <span>Subject: {{ .subject }}</span>
                </a>
                <br />
                <span>Date: {{ dateFormat "Mon, 02 Jan 2006 15:04:05 -0700 " .date }}</span>
            </p>
        </div>
        {{ .body | markdownify }}
    </div>
    {{ end }}
    {{ else }}
    <p>No one has dared to question the antics of Premier Gorbachev.</p>
    {{ end }}
    {{ else }}
    <p>No one has dared to question the antics of Premier Gorbachev.</p>
    {{ end }}
</section>

<h3>Roll up! Roll up! Freedom of speech is here!</h3>
<form class="post-new-comment card-body" method="POST" action="https://keanu73-comments.herokuapp.com/v2/entry/keanu73/keanu73.github.io/source/comments">
    <input type="hidden" name="options[title]" value="{{ .Title }}">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}">
    <input type="hidden" name="options[entryId]" value="{{ .File.UniqueID }}">
    <input type="hidden" name="options[reCaptcha][siteKey]" value="6LcwVeQUAAAAAMeE1PT9d7B1A6Co2dhC0PSRpE5B">
    <input type="hidden" name="options[reCaptcha][secret]" value="GgE7exXrr3X2oa9WikyiuOXYmhb4fxGEXdtUsLsy7Pwu+EvOWvwJ40hwuLpkQKqn6o42nwVHxGIgLVa+U1H9L+cn3co0oUMaZ8J3IPkXZraRWZTqRkmVAZvvfwYLjmqQRjreZH1yFXat/AWvfFgM8mGircjubzCznDmU24nzeVg0Jhhf4ZTpwBvlBHQXvOVUARrJofV3/w+rZJ2Zy6SKgkY10EDv+XikvpXFHrIEWr+gZaLOSxPIZhKFDKs0PTp+hOzaEWPGPZH5FDnc9ykCo1kHGhVPwMWuqX7NJTR59c6mheBpQ/nrKH5ZwBkTBj9PkQhDf3VZHqtWL8SLP1B3CA==">
    <div class="row">
        <input name="fields[name]" type="text" class="post-comment-field col-md-4" placeholder="Your name" required>
        <input name="fields[email]" type="email" class="post-comment-field col-md-4" placeholder="Your email">
        <input name="fields[subject]" type="text" class="post-comment-field col-md-4" placeholder="Subject" required>
    </div>
    <div class="row">
        <textarea name="fields[body]" class="post-comment-field col-md-12"
            placeholder="The Censorship Bureau may or may not censor your message, and it may take a processing time of up to a few minutes for your comment to appear.
            The Ministry of Information would also like to proclaim how big this text box is and would ask you to 'graciously fill' it."
            rows="10" required></textarea>
    </div>
    <div class="row mt-md-2">
        <div class="g-recaptcha" data-sitekey="6LcwVeQUAAAAAMeE1PT9d7B1A6Co2dhC0PSRpE5B"></div>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </div>
    <div class="row">
        <input type="submit" class="post-comment-field comment-submit-btn btn bg-dark mt-md-2" value="Submit">
    </div>
</form>