{{ with .Site.Params.KeybaseID }}
<a href="https://keybase.io/{{.}}" rel="me" title="Keybase"><i class="fab fa-keybase fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.SteamID }}
<a href="https://steamcommunity.com/id/{{.}}" rel="me" title="Steam"><i class="fab fa-steam fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.TwitterID }}
<a href="https://twitter.com/{{.}}" rel="me" title="Twitter"><i class="fab fa-twitter fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.GithubID }}
<a href="https://github.com/{{.}}" rel="me" title="GitHub"><i class="fab fa-github fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.RedditID }}
<a href="https://reddit.com/user/{{.}}" rel="me" title="Reddit"><i class="fab fa-reddit fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.Email }}
<a href="mailto:{{.}}" title="Email"><i class="fas fa-envelope fa-3x" aria-hidden="true"></i></a>
{{ end }}
