<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	<title>{{ .Site.Title }}</title>
	{{ partial "head.html" . }}
	<script src="{{ "js/GithubPinner.js" | absURL }}" async></script>
</head>

<body>
	{{ .Scratch.Set "command" "whoami" }}
	{{ partial "header.html" . }}
	<div class="animated fadeIn delay-1s slow container wrapper">
		{{ with .Site.Params.ProfilePicture }}
		<div class="row">
			<div class="col-lg-3 mx-auto">
				<img alt="profile-picture" loading="lazy" class="img-fluid rounded-circle user-picture center-block" src="{{.}}">
			</div>
		</div>
		{{ end }}
		<div class="row">
			<div class="col-md-12 user-profile text-center">
				<h1 id="user-name">{{ .Site.Params.Name }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-md-4 user-social text-center">
				{{ partial "social.html" . }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 p-md-1 mb-md-4 mx-auto border border-white user-description text-center">
				<p>
					Hello there. I'm Keanu, and I'm an aspirational programmer who's immersed himself in the IT field for over a decade.
				</p>
				
				<p>
					I spend most of my days pre-meditating code, writing it, and striving to be the best version of myself.
				</p>
				
				<p>
					I work on lots of different programming-related projects for myself and for others - if you want to see some of them,
					you can check them out below.
				</p>

				<p>
					Any questions? Feel free to shoot me an email!
				</p>
			</div>
		</div>
		<div class="row d-flex mx-auto ml-md-4 mb-md-4 text-center justify-content-center">
			<div data="https://github.com/Keanu73/keanu73.net" class="github-pinner"></div>
		</div>
		<div class="row d-flex mx-auto ml-md-4 text-center justify-content-center">
				<div data="https://github.com/Keanu73/2b2tQueueAlert" class="github-pinner"></div>
				<div data="https://github.com/Keanu73/MarchyGuard" class="github-pinner"></div>
		</div>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
